{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyMRBek3mFdrAOICfoFWgOh2"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","source":["!pip freeze > requirments.txt"],"metadata":{"id":"ODFUDDZjnjmQ","executionInfo":{"status":"ok","timestamp":1742995383728,"user_tz":-330,"elapsed":1309,"user":{"displayName":"A_17_Swayanjit Biswas","userId":"03219578920591731607"}}},"execution_count":9,"outputs":[]}]}